@import './fonts.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  @apply bg-black-800 text-white;
}

@layer components {
  .modal {
    pointer-events: none;
    visibility: hidden;
    width: 100%;
    max-width: none;
    height: 100%;
    max-height: none;
    color: inherit;
    transition:
      translate 0.3s ease-out,
      visibility 0.3s allow-discrete,
      background-color 0.3s ease-out,
      opacity 0.1s ease-out;
    overscroll-behavior: contain;
    z-index: 999;
    background-color: #0000;
    place-items: center;
    margin: 0;
    padding: 0;
    display: grid;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
  }

  .modal::backdrop {
    display: none;
  }

  .modal.modal-open,
  .modal[open],
  .modal:target {
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
    background-color: #0006;
  }

  :is(.modal.modal-open, .modal[open], .modal:target) .modal-box {
    opacity: 1;
    translate: 0;
    scale: 1;
  }
}
